<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css" />
    <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <script type="text/javascript" src="js/libs/jquery.js" ></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    
    <div class="container showgrid">
  
      <div class="span-22 last header">
        <div style="float:right">
        <h1 class="logo"><a href="/">Feed Forward</a></h1>
        <h2 class="tagline"><a href="/">sniff out good ideas.</a></h2>
        </div>
        <div class="prepend-16" id="post-idea">
          <!-- <span>Tell us about your idea.</span> -->
        </div>
      </div>
    
      {% block content %}
      {% endblock %}
  
      <div class="footer span-24 last" style="text-align:center;margin-top:100px; color:#AAA">
        ★ not for assholes  ★
      </div>
    
    </div>
    
  </body>
</html>